.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    z-index: 9999;
    position: absolute;
    background-color: #000000b5;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid rgb(237, 191, 16);
}

.loader--dot:first-child {
    background-color: rgb(237, 191, 16);
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: rgb(237, 191, 16);
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: rgb(237, 191, 16);
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: rgb(237, 191, 16);
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: rgb(237, 191, 16);
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: rgb(237, 191, 16);
    animation-delay: 0s;
}

.loader--text {
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "";
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}

@keyframes loading-text {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}
